#feedback {
  font-size: 1.4em;
}
#selectable .ui-selecting {
  background: #fff;
}
#selectable .ui-selected {
  background: #049cdb;
  color: #fff;
}
#selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#selectable li {
  margin: 2px;
  padding: 0.3em;
  font-size: 1em;
  height: 14px;
}
#range-slider {
  margin-top: 6px;
}
#fits-container {
  float: left;
  padding: 10px;
}
#model-container {
  float: left;
  padding: 10px;
}
#residual-container {
  float: left;
  padding: 10px;
}
.tab-content {
  padding: 10px;
}
.slider {
  margin: 5px;
}
